In [1]:
from itertools import combinations
from math      import comb

import numpy  as np
import pandas as pd

In [39]:
import warnings
warnings.filterwarnings('ignore')

In [40]:
def generate_empty_dataframe(shape, col_names):
  aux_matrix    = np.zeros(shape)
  aux_matrix[:] = np.nan

  df = pd.DataFrame(aux_matrix, columns=col_names)

  return df

In [41]:
def basic_solves(A, b):
  n_rows, n_cols = A.shape
  n_solutions    = comb(n_cols, n_rows)

  col_names = [f'x{i+1}' for i in range(n_cols)]
  columns   = list(range(n_cols))
  dim_diff  = int(n_cols - n_rows)
  solutions = generate_empty_dataframe((n_rows, n_cols), col_names)

  columns_combinations = combinations(columns, dim_diff)
  columns_to_drop      = list(columns_combinations)
  
  for i, cols in enumerate(columns_to_drop):
    selected_columns = np.delete(col_names, cols, 0)

    new_A = np.delete(A, cols, axis=1)
    solve = np.linalg.lstsq(new_A, b)
    solve = np.around(solve[0].T[0], 2)

    solutions.loc[i, selected_columns] = solve

  return solutions

In [42]:
A = np.array([
  [4, 0, 1,  1, 0],
  [2, 1, 0, -2, 0],
  [2, 0, 0,  2, 1]
])

In [43]:
b = np.array([
  [-10],
  [  6],
  [ 14]
])

In [44]:
basic_solves(A, b)

     x1     x2    x3     x4    x5
0   NaN    NaN  -7.0  -3.00  20.0
1   NaN -14.00   NaN -10.00  34.0
2   NaN   6.00 -10.0    NaN  14.0
3   NaN  20.00 -17.0   7.00   NaN
4 -1.40    NaN   NaN  -4.40  25.6
5  3.00    NaN -22.0    NaN   8.0
6  5.00    NaN -32.0   2.00   NaN
7 -2.50  11.00   NaN    NaN  19.0
8 -5.67  42.67   NaN  12.67   NaN
9  7.00  -8.00 -38.0    NaN   NaN

In [45]:
A = np.array([
  [0.5, 0.4, 1,  0,  0],
  [0.1, 0.2, 0,  1,  0],
  [0.4, 0.5, 0,  0,  1]
])

b = np.array([
  [3],
  [1],
  [3]
])

In [46]:
basic_solves(A, b)

      x1    x2    x3    x4    x5
0    NaN   NaN  3.00  1.00  3.00
1    NaN  7.50   NaN -0.50 -0.75
2    NaN  5.00  1.00   NaN  0.50
3    NaN  6.00  0.60 -0.20   NaN
4   6.00   NaN   NaN  0.40  0.60
5  10.00   NaN -2.00   NaN -1.00
6   7.50   NaN -0.75  0.25   NaN
7   3.33  3.33   NaN   NaN  0.00
8   3.33  3.33   NaN -0.00   NaN
9   3.33  3.33 -0.00   NaN   NaN

In [47]:
A = np.array([
  [1, 0, 1, 0, 0, 0],
  [0, 1, 0, 1, 0, 0],
  [1, 1, 0, 0, 1, 0],
  [1, 3, 0, 0, 0, 1]
])

b = np.array([
  [3],
  [4],
  [6],
  [13]
])

In [48]:
basic_solves(A, b)

      x1    x2    x3    x4    x5     x6
0    NaN   NaN   3.0  4.00  6.00  13.00
1    NaN  4.08   NaN -0.08  1.92   0.75
2    NaN  4.00   3.0   NaN  2.00   1.00
3    NaN  6.00   3.0 -2.00   NaN  -5.00
4    NaN  4.33   3.0 -0.33  1.67    NaN
5    3.0   NaN   NaN  4.00  3.00  10.00
6    5.5   NaN  -2.5   NaN  0.50   7.50
7    6.0   NaN  -3.0  4.00   NaN   7.00
8   13.0   NaN -10.0  4.00 -7.00    NaN
9    3.0  4.00   NaN   NaN -1.00  -2.00
10   3.0  3.00   NaN  1.00   NaN   1.00
11   3.0  3.33   NaN  0.67 -0.33    NaN
12   2.0  4.00   1.0   NaN   NaN  -1.00
13   1.0  4.00   2.0   NaN  1.00    NaN
14   2.5  3.50   0.5  0.50   NaN    NaN