In [1]:
from itertools import combinations
from math      import comb

import numpy  as np
import pandas as pd

In [2]:
A = np.array([
  [4, 0, 1,  1, 0],
  [2, 1, 0, -2, 0],
  [2, 0, 0,  2, 1]
])

A.shape

(3, 5)

In [3]:
b = np.array([
  [-10],
  [  6],
  [ 14]
])

b.shape

(3, 1)

In [4]:
def generate_empty_dataframe(shape, col_names):
  aux_matrix    = np.zeros(shape)
  aux_matrix[:] = np.nan

  df = pd.DataFrame(aux_matrix, columns=col_names)

  return df

In [5]:
def basic_solves(A, b):
  n_rows, n_cols = A.shape
  n_solutions    = comb(n_cols, n_rows)

  col_names = [f'x{i+1}' for i in range(n_cols)]
  columns   = list(range(n_cols))
  dim_diff  = int(n_cols - n_rows)
  solutions = generate_empty_dataframe((n_rows, n_cols), col_names)

  columns_combinations = combinations(columns, dim_diff)
  columns_to_drop      = list(columns_combinations)
  
  for i, cols in enumerate(columns_to_drop):
    selected_columns = np.delete(col_names, cols, 0)

    new_A = np.delete(A, cols, axis=1)
    solve = np.linalg.solve(new_A, b)
    solve = np.around(solve.T[0], 2)

    solutions.loc[i, selected_columns] = solve

  return solutions

In [6]:
basic_solves(A, b)

     x1     x2    x3     x4    x5
0   NaN    NaN  -7.0  -3.00  20.0
1   NaN -14.00   NaN -10.00  34.0
2   NaN   6.00 -10.0    NaN  14.0
3   NaN  20.00 -17.0   7.00   NaN
4 -1.40    NaN   NaN  -4.40  25.6
5  3.00    NaN -22.0    NaN   8.0
6  5.00    NaN -32.0   2.00   NaN
7 -2.50  11.00   NaN    NaN  19.0
8 -5.67  42.67   NaN  12.67   NaN
9  7.00  -8.00 -38.0    NaN   NaN